// COLORS
$color-primary: #ebebeb;
$color-secondary: #ffffff;
$color-tertiary: #f3e3d4;

$color-black: #111;
$color-red: #bb0404;
$color-white: #fff;
$color-grey: #808080e0;

// FONT
$default-font-size: 1.6rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;
